<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>app</string>
  <key>CFBundleName</key>
  <string>测试应用</string>
  <key>CFBundleIconFile</key>
  <string>icon.icns</string>
  <key>CFBundleShortVersionString</key>

  <key>CFBundleURLSchemes</key>
  <array>
    <string>myapp</string>
  </array>
</dict>
</plist>