<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ConfigFiles">
      <Component Id="AppConfig" Directory="INSTALLDIR" Guid="*">
        <File Source="./config/config.ini" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>